body, html {
	margin: 0;
	padding: 0;
	font-size: 20px;
	overflow-x: hidden;
	min-width: 100%;
	min-height: 100%;
	background-color: #fcf6f0;
}

body {
	max-width: 720px;
	margin: auto;
}

.wonky {
	/* -webkit-mask-box-image: url(/img/bordermask.svg) 8 round;
	-webkit-mask-box-image-width: 3%; */
	mask-border: url(/img/bordermask.svg) 8 round;
	mask-border-width: 3%;
	transform: scale(1.015);
}

.wonky-bottom {
	/* -webkit-mask-box-image: url(/img/bordermask-bottom.svg) 8 round;
	-webkit-mask-box-image-width: 0.4rem; */
	mask-border: url(/img/bordermask-bottom.svg) 8 round;
	mask-border-width: 0.4rem;
}

.branded, .bigbranded {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.branded:before {
	content: "";
	display: block;
	z-index: -1;
	width: 31vw;
	height: 31vw;
	position: absolute;
	top: -5vw;
	right: -4vw;
	background-color: #f4ebe4;
	-webkit-mask-image: url(/img/bk_logo_bw.svg);
	mask-image: url(/img/bk_logo_bw.svg);
}

.bigbranded:before {
	content: "";
	display: block;
	z-index: -1;
	width: 54.5vw;
	height: 55vw;
	position: absolute;
	top: -5vw;
	left: 0;
	background-color: #f4ebe4;
	-webkit-mask-image: url(/img/bk_logo_bw.svg);
	mask-image: url(/img/bk_logo_bw.svg);
}

.home footer, .home header, footer.bottombar {
	background-color: #fcf6f0;
	width: 100%;
	height: 3.2rem;
	display: flex;
	font-family: 'Kalam', cursive;
	font-style: oblique;
	color: #8e5630;
	letter-spacing: -2px;
}

.home header {
	position: fixed;
	top: 0;
	left: 0;
}

.home header, footer.bottombar {
	align-items: center;
	z-index: 100;
}

.triple.home {
	margin-top: 3.2rem;
}

.home > main {
	min-height: 100vh;
}

.grid {
	display: flex;
	flex-direction: column;
}

.grid > .row {
	display: flex;
	flex-direction: row;
}

.grid > .row > .tile, .bigtile, .subpage.promos .promoimg {
	flex-shrink: 1;
	display: block;
	position: relative;
}

.grid > .row > .tile:before, .bigtile:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.grid > .row > .tile[width="1"] {
	width: 25%;
}

.grid > .row > .tile[width="2"] {
	width: 50%;
}

.grid > .row > .tile[width="3"] {
	width: 75%;
}

.grid > .row > .tile[width="4"] {
	width: 100%;
}

.grid > .row > .tile[width="1"][height="1"]:before,
.grid > .row > .tile[width="2"][height="2"]:before,
.grid > .row > .tile[width="3"][height="3"]:before,
.grid > .row > .tile[width="4"][height="4"]:before {
	padding-top: 100%;
}

.grid > .row > .tile[width="2"][height="1"]:before,
.grid > .row > .tile[width="4"][height="2"]:before {
	padding-top: 50%;
}

.grid > .row > .tile > .content, .grid > .row > .tile img, .bigtile > .content, .bigtile img, .bigtile .qrcode, .promolist, .promolist .carousel-cell, .subpage.promos .promoimg img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.promolist .flickity-page-dots
{
	bottom: 10px;
}

.promolist .flickity-page-dots .dot
{
	background-color: #fcf6f0;
	opacity: 0.5;
	margin: 0 4px;
}

.promolist .flickity-page-dots .dot.is-selected
{
	opacity: 1;
}

.promolist .flickity-page-dots .dot:first-child:not(.is-selected),
.promolist .flickity-page-dots .dot:last-child:not(.is-selected)
{
	transform: scale(0.5);
}

.grid > .row > .tile img.like, .bigtile img.like {
	width: 16px;
	height: 16px;
	padding: 16px;
	z-index: 3;
}

.bigtile {
	width: 100%;
	flex-grow: 1;
}

.home footer > *, .qrcode .flag {
	margin: 1.05rem 0 0.95rem 1.2rem;
	height: 1.2rem;
	width: 1.2rem;
}

.home footer > .info {
	background: url('/img/info.png') no-repeat center center;
	background-size: cover;
}

.home footer > .flag, .qrcode .flag {
	background: url('/img/flag_de.png') no-repeat center center;
	background-size: cover;
}

.home header > img {
	margin-left: 0.8rem;
	margin-right: 0.4rem;
	height: 1.6rem;
}

.subpage {
	display: block;
	width: 100vw;
	min-height: 100vh;
	background-color: #fcf6f0;
}

.subpage.loading {
	position: fixed;
	opacity: 0;
	transition: left 0.3s ease-out,
		top 0.3s ease-out,
		width 0.3s ease-out,
		height 0.3s ease-out,
		opacity 0.2s ease-out;
	z-index: 100;
	overflow: hidden;
	min-width: 0;
	min-height: 0;
}

.subpage.loading.animating {
	left: 0 !important;
	top: 0 !important;
	width: 100vw !important;
	height: 100vh !important;
	opacity: 1;
}

.titled > .title, .highlit-panel h3, .highlit-panel h4, .highlit-panel p.price, .redeembtn, .bigtile .qrcode .code {
	font-family: 'Passion One', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-transform: uppercase;
	font-size: 1.75rem;
	line-height: 1;
	color: #682f1c;
	flex-shrink: 0;
	margin: 0;
	font-weight: normal;
}

.highlit-panel p.description, .bigtile .qrcode .toplabel, .bigtile .qrcode .bottomlabel, .htmlview {
	font-family: 'Overpass', 'Open Sans', Roboto, Arial, sans-serif;
}

.titled > .title {
	padding: 0.8em 0.35em 0.7em;
}

.titled > .title.loading {
	opacity: 0;
	transform: translateY(1rem);
	transition: transform 0.1s ease-out,
		opacity 0.1s ease-out;
}

.titled > .title.loading.animating {
	opacity: 1;
	transform: translateY(0%);
}

.titled > .title > img.subtitle {
	position: absolute;
	bottom: 0.25em;
	left: 0.35em;
	height: 0.82em;
}

footer.bottombar {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 200;
	transition: opacity 0.2s ease-out 0.1s;
	font-size: 2rem;
	color: #682f1c;
	background-color: #ffffff;
	display: flex;
}

footer.bottombar.hidden {
	pointer-events: none;
	opacity: 0;
}

footer.bottombar .mdi {
	line-height: 3.2rem;
	width: 2.5rem;
	text-align: center;
}

footer.bottombar .mdi:before {
	vertical-align: bottom;
}

footer.bottombar .right {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

footer.bottombar .right .action {
	width: 56px;
	height: 64px;
	display: block;
	transition: background-color 100ms ease-in;
}

footer.bottombar .right .action:hover,
footer.bottombar .right .action:active {
	background-color: #fae5d0;
}

footer.bottombar .right .action.icon img {
	width: 24px;
	height: 24px;
	margin: 20px 16px;
	display: block;
}

.subpage.titled, .subpage.coupon {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.subpage.bottomless {
	min-height: unset;
	height: calc(100vh - 3.2rem);
}


.subpage .content {
	flex-grow: 1;
	overflow-x: hidden;
	overflow-y: auto;
}

.highlit-panel {
	background-color: #f8e5d2;
	color: #682f1c;
	padding: 1em 0.75em;
}

.highlit-panel h3 {
	font-size: 1.6rem;
}

.highlit-panel p.description {
	margin: 0.5rem 0;
	font-size: 0.7rem;
	transform: scaleY(1.1);
}

.highlit-panel p.price {
	color: #ad8b7c;
	font-size: 1.4rem;
}

.highlit-panel h4 {
	margin-top: 1.5em;
	font-size: 1.3rem;
}

.subpage .fullmaps {
	width: 100%;
}

.redeembtn {
	background-color: #f7a600;
	color: white;
	height: 60px;
	line-height: 60px;
	font-size: 1.4rem;
	text-align: center;
	transition: background-color 100ms ease-in;
}

.redeembtn:hover {
	background-color: #feba3a;
}

.bigtile .qrcode {
	background-color: #fcf6f0;
	z-index: 5;
	transition: opacity 300ms ease-out;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.bigtile .qrcode .flag {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 32px;
	height: 32px;
}

.bigtile .qrcode .code {
	flex-grow: 1;
	flex-shrink: 1;
	color: #ad8b7c;
}

.bigtile .qrcode .code .label {
	transform: scaleY(1.1);
}

.bigtile .qrcode .toplabel, .bigtile .qrcode .bottomlabel {
	color: #ad8b7c;
	font-size: 0.7rem;
	margin: 1.2rem 0;
}

.bigtile .qrcode .toplabel {
	margin-top: 2rem;
	margin-bottom: 0.3rem;
}

.htmlview {
	margin: 1rem;
}

.htmlview small {
	color: #ad8b7c;
}

.htmlview a {
	text-decoration: none;
	color: #f7b739;
}

.subpage.promos .carousel-cell {
	width: 100%;
}

.subpage.promos .carousel-cell > * {
	margin-left: 0;
	margin-right: 0;
}

.subpage.promos .carousel-cell .highlit-panel {
	margin: 0;
}

.subpage.promos .promoimg {
	width: 100%;
}

.subpage.promos .promoimg:before {
	display: block;
	content: "";
	padding-top: 100%;
}

.htmlview p {
	margin: 0;
}
